// Variables
  $primary: #b0e0e6;
  $dark: #1a1a1a;
  $light: #e6e6e6;

  $navbar-text-shadow: true;
  $header-text-shadow: true;
  $header-background-color: $dark;
  $intro-text-color: $light;
  $navbar-color: $light;
  $navbar-lg-collapse-background-color: $header-background-color;
  $navbar-lg-background: transparent;
  $navbar-sm-background-color: $navbar-lg-collapse-background-color;

  $social-buttons-color: $primary;
